process {
  publishDir = "${params.out}"
}

profiles {
    spack        { includeConfig 'configs/spack.config'        }
    charliecloud { includeConfig 'configs/charliecloud.config' }
    conda        { includeConfig 'configs/conda.config'        }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    singularity  { includeConfig 'configs/singularity.config'  }
    mpipz        { includeConfig 'configs/mpipz.config'        }
    local        { executor.name = 'local'                     }
}
